{
  "Logging": {
    "LogFile": {
      "Path": "C:/VEGAS/Logs/autoediting.log",
      "Enabled": true
    },
    "LogLevel": {
      "Default": "Debug"
    }
  },
  "QuickTesting": {
    "ClipsFolder": "C:/VEGAS/edit",
    "SongPath": "C:/VEGAS/edit/song.mp3",
    "OutputFolder": "C:/VEGAS/edit/Output"
  },
  "ShotDetection": {
    "SfxRoot": "C:/VEGAS/sounds/MWIII Snipers SFX"
  }
}
